@{
}
@model ShaftViewModel

@foreach (Shaft s in Model.shaft)
{
    <h1></h1>


<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/@s.imagePath" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">@s.shaftName</h1>
                <div class="fs-5 mb-5">
                    <span>$@s.price</span>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
                <br />
                <div class="d-flex">
                    <label style="padding-right:3px">Model/Flex</label>
                    <select>
                        <option value="" disabled selected hidden>Choose Option</option>
                        @foreach (var x in ViewBag.ModelFlex)
                        {
                            <option value="@x.modelFlexName">@x.modelFlexName</option>
                        }
                    </select>
                    <label style="padding-left: 3rem; padding-right: 3px">Club Build Type</label>
                    @*<vc:build-types></vc:build-types>*@
             
                <select>
                    <option value="" disabled selected hidden>Choose Option</option>
                    @foreach (var x in ViewBag.BuildTypes)
                    {
                        <option value="@x.typeName">@x.typeName</option>
                    }
                </select>
                </div>
                <br />
                <div class="d-flex">
                    <label style="padding-right:3px">Club Build Information (Brand, Model, and Loft)</label>
                    <input />
                </div>
                <br />
                <div class="d-flex">
                    <label style="padding-right:3px">Adaptor Model</label>
                    <select>
                        <option value="" disabled selected hidden>Choose Option</option>
                        @foreach (var x in ViewBag.adapterSettings)
                        {
                            <option value="@x.adapterName">@x.adapterName</option>
                        }
                    </select>
                    <label style="padding-left: 3rem; padding-right: 3px">Adaptor Settings</label>
                    <select>
                        <option value="" disabled selected hidden>Choose Option</option>
                        <option value="STDLoft">STDLoft</option>
                    </select>
                </div>
                <br />
                <div class="d-flex">
                    <label style="padding-right:3px">Playing Length</label>
                    <select>
                        <option value="" disabled selected hidden>Choose Option</option>
                        <option value="43.75">43.75</option>
                        <option value="44">44</option>
                        <option value="44.25">44.25</option>
                        <option value="44.5">44.5</option>
                        <option value="44.75">44.75</option>
                        <option value="45">45</option>
                        <option value="45.25">45.25</option>
                        <option value="45.5">45.5</option>
                        <option value="45.75">45.75</option>
                        <option value="46">46</option>
                        <option value="46.25">46.25</option>
                        <option value="46.5">46.5</option>
                        <option value="46.75">46.75</option>
                        <option value="47">47</option>
                    </select>
                    <label style="padding-left: 3rem; padding-right: 3px">SST Pure Service</label>
                    <select>
                        <option value="" disabled selected hidden>Choose Option</option>
                        <option value="Yes">Yes (+$35)</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <br />
                <div class="d-flex">
                    <label style="padding-right:3px">Grip Brand</label>
                    <select>
                        <option value="" disabled selected hidden>Choose Option</option>
                        <option value="brand1">Brand 1</option>
                    </select>
                    <label style="padding-left: 3rem; padding-right: 3px">Grip Model</label>
                    <select>
                        <option value="" disabled selected hidden>Choose Option</option>
                        <option value="model1">Model 1</option>
                    </select>
                </div>
                <br />
                <div class="d-flex">
                    <label style="padding-right:3px">Extra Wraps</label>
                    <select>
                        <option value="" disabled selected hidden>Choose Option</option>
                        <option value="0">None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <label style="padding-left: 3rem; padding-right: 3px">Grip Logo</label>
                    <select>
                        <option value="" disabled selected hidden>Choose Option</option>
                        <option value="up">Up</option>
                        <option value="down">Down</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
}